#content {
  padding-bottom: 7rem;
  padding-top: 5rem;
}
#particles-js {
  background-color: rgba(0, 0, 0, 0.748);
  height: 100%;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
